---
title: Espaces de travail
menuItem: 2
bodyClass: espaces-de-travail
---
{{#extend "default"}}

{{#content 'subMenu'}}
<div class="subMenu">
  <span>{{this.title}}</span>
  <ul id="subNav" class="nav subNav">
    <li>Sur mesure</li>
    <li>Design & Lumière</li>
    <li>Plans <span class="bull">&bull;</span></li>
    <li class="bull">&bull;</li>
    <li class="bull">&bull;</li>
    <li class="bull">&bull;</li>
    <li class="bull">&bull;</li>
    <li class="bull">&bull;</li>
  </ul>
</div>
{{/content}}

{{#content "body"}}
<div id="slices" class="slices">
  <div id="sur-mesure" class="slice slice-1 future">
    <div class="column column-50 column-left"></div>
    <div class="column column-50 column-right">
      <div class="bloc blocTitle">
        <h2>Une solution<br />immobilière<br />sur-mesure</h2>
      </div>
      <div class="bloc bloc1">
        <h3 class="align-justify">Des espaces de bureaux adaptés à toutes les recherches</h3>
        <ul>
          <li class="item1 align-justify"><strong>Niveaux continus</strong>Plateaux de 2550 m<sup>2</sup> environ*. Capacité jusqu’à 230 personnes</li>
          <li class="item2 align-justify"><strong>Aile Ouest</strong>Plateaux de 1100 m<sup>2</sup> environ*. Capacité jusqu’à 100 personnes</li>
          <li class="item3 align-justify"><strong>Aile Est</strong>Plateaux de 770 m<sup>2</sup> environ*. Capacité jusqu’à 70 personnes</li>
        </ul>
        <p class="mini">* surfaces locatives, y compris quote-part de parties communes</p>
      </div>
      <div class="bloc bloc2">
        <h3 class="align-justify">Une offre de services répondant à toutes les exigences</h3>
        <ul>
          <li class="align-justify">Accueil, Conciergerie, Restaurant, Cafétéria, Business, Lounge, Auditorium, Salles de réunion mutualisées, Fitness</li>
          <li class="align-justify">Une gestion quotidienne orchestrée par Tishman Speyer</li>
        </ul>
      </div>
    </div>
    <div class="arrowDown">d</div>
  </div>
  <div id="design-et-lumiere" class="slice slice-2 future">
    <div class="column column-50 column-left"></div>
    <div class="column column-50 column-right">
      <h2>Design<br />& lumière</h2>
      <p class="align-justify">Les plateaux, très lumineux, combinent esthétisme et simplicité, et disposent les postes de travail en premier jour. <strong>Flexibles et efficaces</strong>, ils permettent une occupation performante de l’espace avec une capacité de densification optimisée. Travailler dans Pacific, c’est l’opportunité d’évoluer à chaque étage dans des <strong>volumes spacieux</strong>, conçus pour offrir le maximum de <strong>confort aux utilisateurs</strong>, avec une technologie et des matériaux entièrement renouvelés. Espaces ouverts ou traditionnels, lieux de réunion privilégiés, bureaux de direction, les possibilités sont nombreuses grâce à une grande souplesse d’implantation.</p>
    </div>
  </div>
  <div id="plans" class="slice slice-3 future">
    <div class="column column-50 column-left">
    </div>
  </div>
  <div id="plans2" class="slice slice-4 future">
    <div class="column column-50 column-left">
    </div>
  </div>
  <div id="plans3" class="slice slice-5 future">
    <div class="column column-50 column-left">
    </div>
  </div>
  <div id="plans4" class="slice slice-6 future">
    <div class="column column-50 column-left">
    </div>
  </div>
  <div id="plans5" class="slice slice-7 future">
    <div class="column column-50 column-left">
    </div>
  </div>
  <div id="plans6" class="slice slice-8 future">
    <div class="column column-50 column-left">
    </div>
  </div>
</div>
{{/content}}


{{#content "scripts" mode="append"}}
<script src="{{assets}}/js/SliceManager.js"></script>
<script src="{{assets}}/js/newBusinessSolutions.js"></script>
{{/content}}
{{/extend}}