---
title: Accueil
menuItem: 0
bodyClass: home
---
{{#extend "default"}}

{{#content "body"}}
<div id="slices" class="slices">
  <div id="index" class="slice slice-1 future">
    <div class="column column-50 column-left">
      <div class="bloc">
        <h2><span class="baseline"><span class="mini">Sandrine Piechota</span>Ostéopathe</span></h2>
      </div>
    </div>
    <div class="column column-50 column-right"></div>
  </div>
</div>
{{/content}}


{{#content "scripts" mode="append"}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb7X0w6bvwuXXqQ282CTv1Pr-__UnXl_w&amp;sensor=true"></script>
<script src="{{assets}}/js/SliceManager.js"></script>
<script src="{{assets}}/js/home.js"></script>
{{/content}}
{{/extend}}