---
title: Mentions légales
bodyClass: mentions-légales
---
<h2>Mentions légales</h2>
<p><strong>Propriétaire :</strong><br />
Tishman Speyer Pacific SCI, société civile immobilière au capital de 10.000 Euros, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro B 792 399 180, dont le siège social est situé 49-51 avenue George V, 75008 Paris.</p>
<p><strong>Hébergeur :</strong><br />
<address>INOUIT<br />
76 Bld Jean-Baptiste Lebas – 59000 Lille</address>
</p>
<p><strong>CONDITIONS D’UTILISATION</strong><br />
Ce site et son contenu sont protégés en vertu des dispositions du Code de la Propriété Intellectuelle, en particulier par le droit d'auteur, le droit des dessins et modèles et le droit des marques. Toute reproduction ou représentation intégrale ou partielle notamment, des textes, des photos, des images, des données et/ou des documents faites sans l’autorisation écrite préalable du Propriétaire est illicite et constitue une contrefaçon sanctionnée pénalement. Malgré tous les soins apportés à la réalisation de ce site et à son actualisation régulière, des erreurs peuvent s'être glissées dans les informations présentées. Les utilisateurs du site procéderont donc à toutes vérifications utiles. Les informations disponibles dans ce site sont fournies à titre indicatif, et sont non contractuelles. Les Informations contenues sur ce site peuvent faire l’objet de modifications techniques sans préavis. A ce titre, le Propriétaire ne saurait supporter aucune demande de dédommagement en cas de perte ou dommages directs ou indirects consécutifs ou liés à l’utilisation de ce site internet et de son contenu.</p>
<p><strong>CREDITS PHOTOS</strong><br />
L’Autre Image /  Majorelle / Shutterstock / Publicis Infracom</p>
