---
title: Osteopathie
menuItem: 1
bodyClass: osteopathie
---
{{#extend "default"}}

{{#content "body"}}
<div id="slices" class="slices">
  <div id="osteopathie" class="ajax slice slice-2 future">
    <div class="column column-50 column-left">
      <div class="bloc">
        <h2>Qu'est-ce que l'ostéopathie ?</h2>
        <p>L'ostéopathie consiste en une méthode de soins manuels déterminant et traitant les restrictions de mobilité du corps humain. Son concept repose sur la globalité du patient.</p>
        <p>Connue pour le mal de dos, elle traite également les migraines, troubles digestifs, vertiges, tendinites, entorses etc. allant du nourrisson à la personne âgée. Différentes techniques existent : crâniennes, articulaires et viscérales.</p>
        <div class="nojs">
          <p>L'ostéopathie repose sur plusieurs principes:</p>
          <ul>
            <li>Le corps humain est une unité fonctionnelle : Toutes les parties du corps sont reliées entre elles par l'intermédiaire des tissus organiques qui le composent. Le corps constitue une unité fonctionnelle indissociable ainsi qu'une identité et une spécificité propre à chacun.</li>
            <li>la structure et la fonction sont en interrelation constante : Dès qu'une structure qui compose le corps humain commence à perdre de la mobilité, la fonction qu'elle est sensée remplir pleinement est perturbée et diminuée, entraînant un trouble fonctionnel.</li>
            <li>Le corps dispose d'une capacité d'autoguérison : il peut s'adapter, se réparer et se défendre de lui même.</li>
            <li>La circulation artérielle et capillaire est déterminante dans la santé des tissus organiques : pour que les processus pysiologiques de guérison du corps soient efficaces, il faut que nos cellues reçoivent tous les éléments dont elles ont besoin pour remplir parfaitement leurs fonctions.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column column-50 column-right"></div>
  </div>
</div>
{{/content}}


{{#content "scripts" mode="append"}}
<script src="{{assets}}/js/SliceManager.js"></script>
<script src="{{assets}}/js/interne.js"></script>
{{/content}}
{{/extend}}
