// Use class **page** to set the max-width of the website
.page { @include page; }

// # Alignment
.align-center { text-align: center; }
.align-justify { text-align: justify; }

// # Navigation
.nav {
    @include nav;
}

// # preloader
.preloader { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url(../img/preloader.gif) 50% 50% no-repeat; }
// .header, .slices, .contents, .footer { display: none; }
.loaded .header, .loaded .slices, .loaded .contents, .loaded .footer { display: block; }
.loaded .preloader { display: none; }

// # Header
.header {
	position: absolute; bottom: 40px; right: 0; left: 0; z-index: 3; @include bgb-linear;

	.logo { position: absolute; top: -26px; left: 24px; margin: 0; padding: 0; }
}

// # Navigations
.mainNav { padding: 3px 0;
	text-align: right;

	li { margin: 0 10px; padding: 0;
		font-size: 1.8em; line-height: 0.9em; text-align: center; }
	.mini { display: block;
		font-size: .6em; font-weight: $light; text-transform: uppercase; }
	a { color: $pink3; }
	a:hover, .active a { color: $white; text-decoration: none; }
}

// # slices
.slices { position: absolute; top: 31px; bottom: 0; left: 0; right: 0; overflow: hidden; z-index: 1;

	.slice { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1;
		&.current { z-index: 1; }
	}
	.column { position: absolute; top: 0; bottom: 0; margin: 0; width: 50%; height: 100%; background-repeat: no-repeat; background-size: cover; }
	.column-left { left: 0; background-position: 100% 50%; }
	.column-right { right: 0; background-position: 0% 50%; }

	// Slice transition
	.column { @include translateY(0); transition: transform 700ms ease; }
	.current{
		.column-left { @include translateY(0); }
		.column-right { @include translateY(0); }
	}
	.past{
		.column-left { @include translateY(-100%); }
		.column-right { @include translateY(100%); }
	}
	.future{
		.column-left { @include translateY(100%); }
		.column-right { @include translateY(-100%); }
	}
}

// # bloc
.bloc {
	position: absolute; transition: transform 500ms ease, opacity 500ms ease; opacity: 0;

	h2 { font-size: 3.2em; font-weight: $light; color: $pink; }
	p { margin: 0;
		color: $pink; }
	ul { margin: 30px 0 30px 15px; padding: 0; }
	li { margin: 10px 0; list-style-image: url(../img/puce.png);
		color: $pink; }

	.current & { opacity: 1; }
}
.transparentBloc { left: 0; right: 0; padding: 25px 0; background-color: $black; background-color: rgba($black, .7);
	font-size: 3.2em; font-weight: $light; color: white; text-align: center; }

// # Home
.home {
	.slice-1 {
		.column-left { background-image: url(../img/Home_facade_left.jpg); }
		.column-right { background-image: url(../img/Home_facade_right.jpg); }
		.bloc { top: 0; right: 0; bottom: 0; padding: 40px; width: 270px; background-color: $white;
			@include translateX(100%); }
		&.current .bloc { @include translateX(0); transition-delay: 700ms; }
	}
	.slice-2 {
		.column-left { background-image: url(../img/Home_localisation.jpg); }
		.column-right { background-image: url(../img/Home_signature.jpg); }
	}
	.slice-3 {
		.column-left { background-image: url(../img/Home_espaces_travail.jpg); }
		.column-right { background-image: url(../img/Home_services.jpg); }
	}
	.slice-4 {
		.column-left { background-image: url(../img/Home_performances.jpg); }
		.column-right { background-image: url(../img/Home_contact.jpg); }
	}
	.slice-2, .slice-3 {
		.column-left .bloc { @include translateX(-100%); }
		.column-right .bloc { @include translateX(100%); }
		&.current .bloc { @include translateX(0); transition-delay: 700ms; }
	}
	a:hover { text-decoration: none; }
	.transparentBloc { bottom: 100px; }
}

// # Localisation & accès
.localisation-et-acces {
	.slices { top: 96px; }
	.column { width: 100%; }
	.slice-1 {
		.column-left { background: url(../img/PP_localisation_defense.jpg) 50% 50% no-repeat; background-size: cover; }
		.bloc { top: 0; bottom: 0; }
		&.current .bloc { @include translateX(0); transition-delay: 700ms; }
		.blocInfos { padding: 40px 30px; width: 225px; @include bgb-linear; @include translateX(-100%);
			p { margin: 15px 0;
				line-height: 1.3em; color: $white; }
			.number { display: block;
				font-size: 1.6em; font-weight: $bold; }
		}
		.blocTitle { right: 2%; padding: 40px 20px 40px 0; width: 340px; @include translateX(200%);
			h2 { padding: 30px; background-color: $white; background-color: rgba($white, .3);
				font-size: 6em; line-height: .9em; }
			span { display: block; }
			.title { color: $grey; }
		}
	}
	.slice-2 {
		.column-left { background: url(../img/PP_localisation_valmy1.jpg) 50% 50% no-repeat; background-size: cover; }
		.blocTitle { left: 0; right: 0; top: 0; padding: 30px 40px; @include translateY(-100%); background-color: $white;
			h2 { margin: 0; padding: 0;
				font-size: 3.5em; color: $grey3; }
		}
		.blocInfos { bottom: 0; right: 0; padding: 30px 20px; width: 380px; @include bgb-radial; @include translateY(100%);
			p { margin: 0; padding: 0;
				line-height: 1.3em; color: $white; }
		}
		&.current .bloc { @include translateY(0); transition-delay: 400ms; }
		&.current .blocInfos { transition-delay: 700ms; }
		h3 { margin-top: 0;
		color: $white; }
	}
	.slice-3 {
		.column-left { background: url(../img/PP_localisation_valmy2.jpg) 50% 50% no-repeat; background-size: cover; }
		.blocInfos { bottom: 0; right: 0; padding: 30px; width: 450px; background-color: $white; @include translateX(100%); }
		p { color: $black; }
		strong { color: $pink; }
		&.current .bloc { @include translateX(0); transition-delay: 700ms; }
		h3 { margin-top: 0;
		color: $pink; }
	}
	.slice-4 {
		.column { width: 50%; }
		.column-70 { width: 66%; @include translateX(-100%);
			img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; } }
		.column-right { @include bgb-radial; @include translateX(100%) }
		.column-30 { padding: 0 3%; width: 27%; background: none; }
		&.current{
			.column-right { @include translateX(0%) }
			.column-70 { @include translateX(0%) }
		}
		h2 { font-size: 5em; font-weight: $light; color: $white; }
		h3 { margin-bottom: 10px;
			font-weight: $light; color: $white; }
		p, td{ color: $white; }

		tr:nth-child(odd) td { background-color: $pink2; }
		td { padding: 2px; }
		td.value { width: 50px;
			text-align: center; }
	}
}

// # Signature architecturale
.signature-architecturale {
	.slices { top: 96px; }
	.column { width: 100%; }
	.slice-1 {
		.column-left { background: url(../img/PP_signature_silhouette_cercle.jpg) 100% 50% no-repeat; background-size: auto; }
		.blocTitle { left: 0; top: 20px; right: 150px; padding: 0 0 0 40px; background-color: $white; @include translateX(100%);
			h2 { font-size: 4em; color: $black; }
		}
		.blocImage { top: 0; right: 150px; bottom: 0; left: 0; margin: auto; height: 500px; background: url(../img/PP_signature_silhouette_facade.jpg) 100% 50% no-repeat; @include translateX(-100%); }
		.blocInfos { bottom: 60px; left: 0; right: 150px; padding: 10px 0 0 40px; background-color: $white; @include translateX(100%);
			p { color: $black; }
			strong { color: $pink; }
		}
		&.current {
			.blocImage { @include translateX(0); transition-delay: 700ms; }
			.blocTitle,
			.blocInfos { @include translateX(0); transition-delay: 700ms; }
		}
	}
	.slice-2 {
		.column-left {  background: url(../img/PP_signature_silhouette_perception.jpg) 50% 50% no-repeat; background-size: cover; }
		.blocInfos { top: 20%; padding: 20px 30px; width: 310px; background: $white; @include translateX(-100%);
			p { color: $black; }
			.mini { margin-top: 20px;
				font-size: 1.3em; font-style: italic; }
		}
		&.current {
			.blocInfos { @include translateX(0); transition-delay: 700ms; }
		}
	}
	.slice-3 {
		.column-left {  background: url(../img/PP_signature_silhouette_nouvelle_ere.jpg) 50% 50% no-repeat; background-size: cover;  }
		.blocInfos { bottom: 20%; right: 0; padding: 20px 30px; width: 310px; @include bgb-radial; @include translateX(100%);
			p { color: $white; }
			.mini { margin-top: 20px;
				font-size: 1.3em; font-style: italic; }
		}
		&.current {
			.blocInfos { @include translateX(0); transition-delay: 700ms; }
		}
	}
	.slice-4 {
		.column-left {  width: 70%; background: url(../img/PP_signature_perspective.jpg) 50% 50% no-repeat; background-size: cover;   }
		.column-right {  padding: 40px 3%; width: 24%; @include translateX(100%); }

		h2 { font-size: 4em; font-weight: $light; color: $pink;}

		&.current {
			.column-right { @include translateX(0); transition-delay: 700ms; }
		}
		p strong { color: $pink; }
	}
}

// # Espace de travail
.espaces-de-travail {
	.slices { top: 96px; }
	.column { width: 100%; }

	.slice-1 {
		.column-left { width: 65%; background: #f3f1f2 url(../img/NBS_espace_sur_mesure.jpg) 50% 50% no-repeat; background-size: contain; }
		.column-right { padding: 20px 3%; width: 29%; @include translateX(0); }
		.bloc { position: static; }
		.blocTitle,
		.bloc1,
		.bloc2 { @include translateX(100%); }


		h2 { font-size: 4em; font-weight: $light; }
		h3 { font-size: 2em; font-weight: $light; }
		strong { display: block;
			text-transform: uppercase; color: $pink; }
		ul { margin: 10px 0; padding: 0; }
		li { margin: 8px 0; padding: 0 0 0 25px; background-repeat: no-repeat; background-position: 0 3px;
			color: $black; }
		.bloc2 li { padding: 0; }
		.item1 { background-image: url(../img/NBS_espace_legende_bleu.gif); }
		.item2 { background-image: url(../img/NBS_espace_legende_violet.gif); }
		.item3 { background-image: url(../img/NBS_espace_legende_bleu_fonce.gif); }
		.mini { margin-top: 20px;
			font-size: 1.1em; font-style: italic; color: $grey3; }

		&.current {
			.blocTitle { @include translateX(0); transition-delay: 700ms; }
			.bloc1 { @include translateX(0); transition-delay: 900ms; }
			.bloc2  { @include translateX(0); transition-delay: 1100ms; }
		}
	}
	.slice-2 {
		.column-left {  width: 65%; background: url(../img/NBS_espace_design.jpg) 50% 50% no-repeat; background-size: cover;   }
		.column-right {  padding: 40px 3%; width: 29%; @include translateX(100%); }

		h2 { font-size: 4em; font-weight: $light; }

		&.current {
			.column-right { @include translateX(0); transition-delay: 700ms; }
		}
		strong { color: $pink; }
	}
	.slice-3 {
		.column-left { background: #efeeee url('../img/NBS_espace_plan_est.gif') 50% 50% no-repeat; background-size: contain !important; }
	}
	.slice-4 {
		.column-left { background: #efeff1 url('../img/NBS_espace_plan_ouest.gif') 50% 50% no-repeat; background-size: contain !important; }
	}
	.slice-5 {
		.column-left { background: #efeff1 url('../img/NBS_espace_plan_plateau.gif') 50% 50% no-repeat; background-size: contain !important; }
	}
	.slice-6 {
		.column-left { background: #efeff1 url('../img/NBS_espace_plan_implant_est.jpg') 50% 50% no-repeat; background-size: contain !important; }
	}
	.slice-7 {
		.column-left { background: #efeff1 url('../img/NBS_espace_plan_implant_ouest.gif') 50% 50% no-repeat; background-size: contain !important; }
	}
	.slice-8 {
		.column-left { background: #efeff1 url('../img/NBS_espace_plan_implant_plateau.gif') 50% 50% no-repeat; background-size: contain !important; }
	}
}

.services {
	.slices { top: 96px; }
	.column { width: 100%; }

	.slice-1 {
		.column-left { background: url(../img/NBS_services_restaurant.jpg) 50% 50% no-repeat; background-size: cover; }
		.blocTitle { top: 16%; right: 0; width: 470px; @include translateX(100%); }
		.blocInfos { top: 21%; right: 0; padding: 20px 30px; width: 410px; background: $white; @include translateX(100%); }
		h2 { margin: 0; }
		img { float: right; margin: 60px 0 60px 10px; }
		p { color: $black; }

		&.current {
			.blocTitle { @include translateX(0); transition-delay: 700ms; }
			.blocInfos { @include translateX(0); transition-delay: 700ms; }
		}
		strong { color: $pink; }
		h3 { margin-top: 0;
		color: $pink; }
	}

	.slice-2 {
		.column-left { background: url(../img/NBS_services_auditorium.jpg) 50% 50% no-repeat; background-size: cover; }
		.blocTitle { bottom: 195px; left: 40px; width: 380px; @include translateY(100%); }
		.blocInfos { bottom: 0; left: 40px; padding: 20px 30px; width: 320px; @include bgb-radial; @include translateY(100%); }
		h2 { margin: 0; }
		p { color: $white; }

		&.current {
			.blocTitle { @include translateY(0); transition-delay: 1100ms; }
			.blocInfos { @include translateY(0); transition-delay: 700ms; }
		}
		strong { color: $white; }
	}

	.slice-3 {
		.column-left { width: 20%; background: $white; }
		.column-right { width: 80%; background: url(../img/NBS_services_jardin.jpg) 0 50% no-repeat; }
		.blocInfos { padding: 30px 20px;  @include translateX(-100%); }
		p { color: $black; }

		&.current {
			.blocInfos { @include translateX(0); transition-delay: 700ms; }
			.column-right { @include translateY(0); }
		}
		&.past {
			.column-right { @include translateY(-100%); }
		}
		strong { color: $pink; }
	}

	.slice-4 {
		.column-left { width: 25%; @include bgb-radial; }
		.column-right { padding: 30px 7%; width: 61%; }
		.bloc { position: static; }
		.blocTitle { margin: auto; padding: 30px 0; width: 200px;
			h2 { font-size: 4em; color: $white; }
		}
		.cursor { position: absolute; top: 80px; right: -40px; @include translateX(-100%); }
		p { color: $black; }
		p strong { text-transform: uppercase; color: $pink; }
		li { font-weight: $bold; color: $black; }
		li span { font-weight: $normal; }

		&.current {
			.cursor { @include translateX(0%); transition-delay: 700ms; }
		}
	}

	.slice-5 {
		.column-left { width: 25%; background: url(../img/NBS_services_developpement.jpg) 50% 50% no-repeat; background-size: cover; z-index:1; }
		.column-right { padding: 40px 7%; width: 61%; background-color: $white; }
		.bloc { position: static; }
		.blocTitle { margin: 50px 0; padding-left: 30px;
			h2 { font-size: 3.2em; font-weight: $normal; line-height: 1em; color: $black; }
			span { font-size: 4em; letter-spacing: -20px; line-height: .8em; color: $pink; -webkit-text-stroke: 1px; }
		}
		.blocInfos { padding-right: 30%;
			h2 { font-size: 4em; line-height: 1.3em; }
			p { margin: 15px 0;
				color: $black; }
		}
		.cursor { position: absolute; top: 80px; right: -90px;  }
		.power { position: absolute; top: 210px; right: 10%; }

		&.current {
			.power { transition-delay: 700ms; transition-duration: 1000ms; }
		}
		&.past {
			.column-right { @include translateY(-100%); }
		}
	}

	.slice-6 {
		.column-12 { width: 13%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
		.column-32 { padding: 30px 3%; width: 29%; right: 0;}
		.column-1 { background-image: url(../img/services_tishman_1.jpg); }
		.column-2 { left: 13%; background-image: url(../img/services_tishman_2.jpg); }
		.column-3 { left: 26%; background-image: url(../img/services_tishman_3.jpg); }
		.column-4 { left: 39%; background-image: url(../img/services_tishman_4.jpg); }
		.column-5 { left: 52%; background-image: url(../img/services_tishman_5.jpg); }
		.column-12 {
			p { @extend .bloc; top: 0; right: 0; bottom: 0; left: 0; margin: auto; height: 42px;
				text-transform: uppercase; text-align: center; color: $white; @include text-shadow(0 0 5px $black); }
			strong { display: block; }
		}
		.column-32 {
			p, li { color: $black; }
			ul { margin: 10px 0 20px 15px; }
			li { margin: 5px 0; }
			.bloc { position: static; }
		}
	}
}

// # Performances techniques
.performances-techniques{
	.slice-1 {
		.column-left { background-image: url(../img/PT_bg.jpg); }
		ul { margin: 40px 35px; padding: 0; }
		li { margin: 0; padding: 15px 0; list-style-type: none; border-bottom: 1px solid $grey3; cursor: pointer; }
		h3 { margin: 0; padding-right: 20px; background: url(../img/puce.png) 99% 50% no-repeat;
			font-size: 1.4em; font-weight: $normal; }
		p { display: none; }

		.unfold{
			h3 { background-image: url(../img/puce-down.png);
				font-weight: $bold; color: $pink; }
		}
	}
}

// # Contact
.contact {
	.slice-1 {
		.column-left { background-image: url(../img/Home_contact.jpg); }
		.column-right {  }
		h2 { margin: 0;
			font-size: 2.4em; font-weight: $light; color: $pink; }
		p { margin: 0;
			font-size: 1.5em; font-style: italic; color: $white; }
		.infosContact { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 400px; height: 324px;
			text-align: center;

			address { margin: 20px 0 60px; font-size: 2em; line-height: 1.3em; font-style: normal; }
			.label { font-weight: $bold; }
			p a { display: inline-block;
				text-align: center; color: $black; }
			p a:hover { text-decoration: none; }
			a+a { margin-left: 90px; }
		}
	}
}

// # Fancybox
.fancybox-overlay {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 10; background: $black; background: rgba($black, .8);
	iframe { width: 100%; height: 99%; }
}

// # mentions légales
.legalMention { position: absolute; margin: 0; padding: 0; bottom: 20px; left: 20px; right: 20px; z-index: 2;
	font-size: 1em;text-align: right;

	a { color: $black; }
	a:hover { text-decoration: underline; }

}